.nav
  &__item
    color: black
    text-decoration: none
    &--active
      color: crimson
      text-decoration: underline

.todos
  &__item
    color: black
    text-decoration: none
    &--completed
      color: #4CAF50

.todos__wrapper
  border: 1px dashed black
  padding: 10px